* {box-sizing: border-box;}

.wrapper {
    border: 2px solid #fff;
    background-color:  #fff;
    border-radius: 5px;
    margin: 100px;
    overflow: auto;
}

.wrapper > div {
    background: #F2F2F2;
    float: left;
    display: block;
    position: relative;
    border-radius: 5px;
    width: 100%;
    padding-top: 100%;

}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}